<div class="row">
  <h2 class="text-center">ログイン</h2>
</div>
<div class="row text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-xs-12 devise-form">
      <%= f.label :email, "メールアドレス", class: "col-xs-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-6" %>
    </div>
    <div class="col-xs-12 devise-form">
      <%= f.label :password, "パスワード", class: "col-xs-3" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "最低６文字必要です", class: "col-xs-6" %>
    </div>
    <div class="col-xs-12 devise-form">
      <%= f.submit "ログイン", class: "btn btn-success" %>
    </div>
  <% end %>
  <p>or</p>
  <%= render("/devise/shared/sns_links") %><br />
  <span>パスワードをお忘れですか？</span>
  <%= link_to("再設定する", new_user_password_path) %>
</div>