<% posts.each do |post| %>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-warning  clearfix">
                <div class="panel-heading">
                    <%= link_to(user_path(post.user)) do %>
                        <%= attachment_image_tag(post.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size: "30x30", class: "img-responsive　pull-left") %>
                        <%= post.user.name %>
                    <% end %>
                    <% if(post.user == current_user) %>
                        <div class="pull-right post-config-field">
                            <%= link_to("", edit_post_path(post.id), class: "fas fa-edit") %>
                            <%= link_to("", post_path(post.id), method: :delete, class:"fas fa-trash", data: {confirm: "削除された投稿は元に戻すことができません。本当に削除してよろしいですか？"}, title:"Delete post?") %>
                        </div>
                    <% end %>
                </div>
                <%= link_to(post_path(post.id)) do%>
                    <div class="panel-body">
                        <div class="phrase-area">
                            <h1 class="text-center"><%= post.phrase %></h1>
                            <% if(post.is_original) %>
                                <h4 class="pull-right">Original</h4>
                            <% else %>
                                <% source = Source.find(post.source_id) %>
                                <h4 class="pull-right"><%= "#{source.title}, #{source.author}" %></h4>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                <div class="panel-footer">
                    <div id="favorite-btn-<%= post.id %>">
                        <%= render("/favorites/form", post: post) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>