<div class="row">
  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
              <span class="round-tab">
                <i class="fas fa-pen-alt"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled">
            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
              <span class="round-tab">
                <i class="fas fa-users"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled">
            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
              <span class="round-tab">
                <i class="fas fa-book-reader"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled">
            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
              <span class="round-tab">
                </i><i class="fas fa-check"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <%= form_with(model: @post, url: posts_path, local: true) do |f| %>
        <div class="tab-content container">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h2 class="text-center">ご登録ありがとうございます！</h2>
            <h2 class="text-center">最初の投稿をしていきましょう！</h2>
            <p class="post-description">あなたの座右の銘や最近読んだ本からお気に入りのフレーズを教えてください。1フレーズ50文字以内で入力してください。</p>
            <%= f.text_area(:phrase, placeholder: "Phrase?") %>
            <p class="post-description">言語を選んでください。数式やコードなどはその他を選択してください。</p>
            <%= f.select(:language, [["日本語", "ja"], ["英語", "en"], ["フランス語", "fr"], ["イタリア語", "it"], ["中国語", "zh"], ["その他", "other"]]) %>
            <ul class="list-inline pull-right">
              <li><%= link_to("今は投稿しない", shares_path, class: "btn btn-default") %></li>
              <li><button type="button" class="btn btn-primary next-step">次へ</button></li>
            </ul>
          </div>
          <div class="tab-pane" role="tabpanel" id="step2">
            <h2 class="text-center">モードを選択してください</h2>
              <p  class="post-description">
                notesとして投稿したフレーズは他の人が見ることができません。<br />
                shareとして投稿したフレーズは他の人も見ることができます。（投稿後に切り替えることも可能です。）
              </p>
            <%= f.radio_button(:is_sharing, false) %>　notes
            <%= f.radio_button(:is_sharing, true) %>　share
            <div id="detail-field">
              <p class="post-description">説明やメモ、URLを入力してください。この項目はnotesとして投稿された時のみ見ることができます。</p>
              <%= f.text_area(:detail) %>
            </div>
            <ul class="list-inline pull-right">
              <li><button type="button" class="btn btn-default prev-step">戻る</button></li>
              <li><button type="button" class="btn btn-primary next-step">次へ</button></li>
            </ul>
          </div>
          <div class="tab-pane" role="tabpanel" id="step3">
            <h2 class="text-center">出典元はありますか？</h2>
              <p class="post-description">
                フレーズの出典を教えてください。オリジナルや出典元がわからない場合はなしを選んでださい。<br />
                ありを選んでいただいた場合、入力フォームが表示されます。
              </p>
            <%= f.radio_button :is_original, true %>　なし
            <%= f.radio_button :is_original, false %>　あり
            <%# Modal %>
              <div class="modal fade" id="source-modal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                      <h4 class="modal-title">出典元について教えてください</h4>
                    </div>
                    <div class="modal-body source-field">
                      <%= f.fields_for(@source) do |f| %>
                          <div><%= f.label(:category, "ジャンル") %></div>
                          <div><%= f.select(:category, [["本", "book"], ["映画", "movie"], ["音楽", "music"], ["インターネット", "web"], ["古典", "classic"], ["その他", "other"]]) %></div>
                          <div><%= f.label(:author, "作者") %></div>
                          <div><%= f.text_field(:author) %></div>
                          <div><%= f.label(:title, "タイトル") %></div>
                          <div><%= f.text_field(:title) %></div>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    </div>
                  </div>
                </div>
              </div>
            <ul class="list-inline pull-right">
              <li><button type="button" class="btn btn-default prev-step">戻る</button></li>
              <li><button type="button" class="btn btn-primary btn-info-full next-step">次へ</button></li>
            </ul>
          </div>
          <div class="tab-pane" role="tabpanel" id="complete">
            <h2 class="text-center">Thank You！</h2>
            <p class="post-description">
              項目は以上になります。右下の投稿ボタンを押して送信してください。<br />
              Phrase.libにようこそ！
            </p>
            <ul class="list-inline pull-right">
              <li><button type="button" class="btn btn-default prev-step">戻る</button></li>
              <li><%= f.submit("投稿する", class: "btn btn-primary") %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>