<div class="row">
	<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="fas fa-pen-alt"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="fas fa-users"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="fas fa-book-reader"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                </i><i class="fas fa-check"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <%= form_with(url: posts_path, local: true) do |f| %>
                <div class="tab-content container">

                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <p class="post-description">1フレーズ50文字以内で入力してください。</p>
                        <%= f.text_area(:phrase, placeholder: "Phrase?") %>
                        <p class="post-description">言語を選んでください。数式やコードなどはその他を選択してください。</p>
                        <%= f.select(:language, [["日本語", 0], ["英語", 1], ["その他", 2]]) %>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">次へ</button></li>
                        </ul>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="step2">
                        <%= f.radio_button(:is_sharing, false) %>　notes
                        <%= f.radio_button(:is_sharing, true) %>　share
                        <div id="detail-field">
                            <p class="post-description">説明やメモ、URLを入力してください。この項目はnotesとして投稿された時のみ見ることができます。</p>
                            <%= f.text_area(:detail) %>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">戻る</button></li>
                            <li><button type="button" class="btn btn-primary next-step">次へ</button></li>
                        </ul>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="step3">
                        <p class="post-description">
                            フレーズの出典を教えてください。オリジナルや出典元がわからない場合はなしを選んでださい。<br />
                            ありを選んでいただいた場合、入力フォームが表示されます。
                        </p>
                        <%= f.radio_button :is_original, true %>　なし
                        <%= f.radio_button :is_original, false %>　あり

                        <%# Modal %>
                        <div class="modal fade" id="source-modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                        <h4 class="modal-title">出典元について教えてください</h4>
                                    </div>
                                    <div class="modal-body source-field">
                                        <%= f.label(:category, "ジャンル") %><br />
                                        <%= f.select(:category, [["本", 0], ["映画", 1], ["音楽", 2], ["インターネット", 3], ["その他", 4]]) %><br />

                                        <%= f.label(:author, "著者") %>
                                        <%= f.text_field(:author) %>

                                        <%= f.label(:title, "タイトル") %>
                                        <%= f.text_field(:title) %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                        <button type="button" class="btn btn-primary">決定</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">戻る</button></li>
                            <li><button type="button" class="btn btn-primary btn-info-full next-step">次へ</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h2 class="text-center">Thank You！</h2>
                        <p class="post-description">
                            右下の投稿ボタンを押して送信してください。
                        </p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">戻る</button></li>
                            <li><%= f.submit("投稿する", class: "btn btn-primary") %></li>
                        </ul>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
</div>