<div class="row">
    <%= render("/layouts/sidebar") %>

    <div class="col-xs-10">
        <div class="panel panel-warning">
            <div class="panel-heading">
            <%= link_to(user_path(@post.user)) do %>
                <%= attachment_image_tag(@post.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size: "30x30", class: "img-responsive pull-left") %>
                <%= @post.user.name %>
            <% end %>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <h1><%= @post.phrase %></h1>
                    <div id="translated-phrase"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div id="favorite-btn-<%= @post.id %>">
                    <%= render("/favorites/form", post: @post) %>
                </div>
                <%# When the language isn't japanese %>
                <% if(@post.language != 0) %>
                    <%= link_to("翻訳する", "/posts/#{@post.id}/translate", class: "pull-right", remote: true) %>
                <% end %>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="pull-right">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#sampleModal">
                        <span class="fas fa-share-square">　共有する</span>
                    </button>
                    <%= link_to("https://twitter.com/intent/tweet?text=#{@post.phrase} #{short_url(request.url)}", target: :_blank) do %>
                        <div class="btn btn-twitter">
                            <span class="fab fa-twitter"> Tweet</span>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <% if(@source.present?) %>
            <div class="source-field">
                <table>
                    <tr>
                        <th>作者</th>
                        <td><%= @source.author %></td>
                    </tr>
                    <tr>
                        <th>タイトル</th>
                        <td><%= @source.title %></td>
                    </tr>
                </table>
            </div>
        <% end %>
    </div>
</div>

<%# modal %>
<div class="modal fade" id="sampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<p>以下のURLを貼り付けて共有してください。</p>
			</div>
			<div class="modal-body">
                <%= short_url(request.url) %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>