<div class="row">
    <%= render("/layouts/sidebar") %>

    <div class="col-xs-10">
        <div class="panel panel-warning">
            <div class="panel-heading">
            <%= link_to(user_path(@post.user)) do %>
                <%= attachment_image_tag(@post.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size: "30x30", class: "img-responsive pull-left") %>
                <%= @post.user.name %>
            <% end %>
            </div>
            <div class="panel-body">
                <h1><%= @post.phrase %></h1>
            </div>
            <div class="panel-footer">
                <div id="favorite-btn-<%= @post.id %>">
                    <%= render("/favorites/form", post: @post) %>
                </div>
            </div>
        </div>
            <% if(@source.present?) %>
                <div class="source-field">
                    <table>
                        <tr>
                            <th>作者</th>
                            <td><%= @source.author %></td>
                        </tr>
                        <tr>
                            <th>タイトル</th>
                            <td><%= @source.title %></td>
                        </tr>
                    </table>
                </div>
            <% end %>
        </div>
    </div>
</div>