<div class="modal fade login" id="loginModal">
  <div class="modal-dialog login animated">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="box">
          <div class="content">
            <div class="social">
              <%= link_to(omniauth_authorize_path(resource_name, :twitter), class:"circle twitter") do %>
                <i class="fab fa-twitter"></i>
              <% end %>
              <%= link_to(omniauth_authorize_path(resource_name, :google_oauth2), class:"circle google") do %>
                <i class="fab fa-google"></i>
              <% end %>
            </div>
            <div class="division">
              <div class="line l"></div>
              <span>or</span>
              <div class="line r"></div>
            </div>
            <div class="error"></div>
            <div class="form loginBox">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control" %>
                <%= f.submit "ログイン", class:"btn btn-default btn-login" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content registerBox" style="display:none;">
            <div class="form">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
                <%= f.text_field :name, autocomplete: "name", placeholder: "ユーザー名", class:"form-control" %>
                <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード（最低６文字）", class: "form-control" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）", class: "form-control" %>
                <%= f.submit "新規登録", class:"btn btn-default btn-register" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="forgot login-footer">
          <span>アカウントを持っていませんか？
            <a href="javascript: showRegisterForm();">新規登録</a><br />
            <span>パスワードをお忘れですか？</span>
            <%= link_to("再設定する", new_user_password_path) %>
          </span>
        </div>
        <div class="forgot register-footer" style="display:none">
          <span>既にアカウントをお持ちですか？</span>
          <a href="javascript: showLoginForm();">ログイン</a>
        </div>
      </div>
    </div>
  </div>
</div>
