<div class="col-xs-2">
    <nav class="navbar navbar-fixed-left sidebar" style="background-color: red;">
        <%= attachment_image_tag(current_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class: "img-responsive center-block sidebar_image") %>
        <% if(current_page?(controller: "posts", action: "notes")) %>
            <%= link_to("share モードに切り替える", shares_path, class: "btn btn-warning mode-btn center-block") %>
        <% else %>
            <%= link_to("notes モードに切り替える", notes_path, class: "btn btn-success mode-btn center-block") %>
        <% end %>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to(user_path(current_user)) do %>
                            <span class="fas fa-id-card">　マイページ</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(new_post_path) do %>
                            <span class="fas fa-pen-alt">　投稿する</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to(edit_user_registration_path) do %>
                            <span class="fas fa-wrench">　ユーザー情報を編集する</span>
                        <% end %>
                    </li>
                </ul>
                <%# Modify after create search controller %>
                <div class="form-group">
                    <%= form_with(url: search_result_path, local: true, class: "navbar-form") do |f| %>
                        <%= f.text_field(:search_word, class: "form-controll", placeholder: "キーワード") %>
                        <%= f.submit("検索する", class: "btn btn-info") %>
                    <% end %>
                </div>
            </div>
        </div>
    </nav>
</div>