<!DOCTYPE html>
<html>
  <head>
    <title>Phraselib</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# FontAwesome CDN Link %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <%= render("layouts/header") %>
    <div class="body">
      <div class="container-fluid">
        <p　id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>